<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Норка графит паркет кокон с капюшоном</title>
    <link rel="stylesheet" href="static/image.css">
    <link rel="stylesheet" href="static/general.css">
    <link rel="stylesheet" href="static/product.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="static/images/logo.png" alt="Логотип">
            <div class="shop_name">
                <strong>Ваш собственый стиль "Магазин женской одежды"</strong>
            </div>
            <ul class="menu">
                <li class="root"><a href="/">Главная</a></li>
                <li class="root">
                    <a href="catalog/">Каталог</a>
                    <ul class="dropdown">
                            <a href="karkasson">Платье ava</a>
                            <a href="karkasson1">Костюм lauren</a>
                            <a href="karkasson2">РИАННА</a>
                    </ul>
                </li>
                <li class="root"><a href="contact">Контакты</a></li>
            </ul>
        </div>
        <hr>

        <h1> Норка графит паркет кокон с капюшоном</h1>
        <div class="product_img_and_short_descroption">
            <a href="static/images/palto11.jpg" target="_blank">
                <img src="static/images/palto11.jpg" alt="Каркассон" class="game_image">
            </a>
            <div class="product_short_description_wrap">
                <h2 class="product_header">Описание товара</h2>
                <p class="product_short_description">
                    <b>Норка графит паркет кокон с капюшоном</b> — 
                    Материал	100% лен
                    Размер	42 (xs), 44 (s), 46 (m)
                    Цвет	Светло-серый
                </p>
                <a href="#" class="buy">Купить</a>
            </div>
        </div>

        <h2 class="product_header">Характеристики товара</h2>
        <ul class="product_features">
            <li>Материал - 100% лен</li>
            <li>Размер - 42 (xs), 44 (s), 46 (m), 48 (l), 50 (xl), 52 (2xl), 54 (3xl)</li>
            <li>Цвет - Белый</li>
        </ul>
        <hr>
        <div class="footer">
        </div>
    </div>
</body>

</html>